:root {
    --gold_color: #fbc620;
    --main_font: "Century Gothic";
}
@font-face {
    font-family: "Century Gothic"; 
    src: url("../fonts/Century Gothic.ttf") format("truetype"); 
    } 
header,
section.pattern{
    background-image: url(../img/second_bgr.png);
    background-color: #000000;
    background-position-x: center;
}
section.black{
    background-color: #000000;
}
section.orange{
    background-image: url(../img/modal_bgr.png);
}
/* .row, .wrap{
   
    margin-right: 0;
} */
.zero_block {
    height: 97px;
    width: 100%;
   
    
    margin-left: 0;
}
/*Nav BAR*/

@media (min-width: 768px) {
    .navbar-container {
      position: sticky;
      top: 0;
      overflow-y: auto;
      height: 100vh;
    }
    .navbar-container .navbar {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: column;
      height: 100%;
    }
    .navbar-container .navbar-collapse {
      align-items: flex-start;
    }
    .navbar-container .nav {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .navbar-container .navbar-nav {
      flex-direction: column !important;
    }
}
@media (max-width: 576px) {
      .navbar-brand img {
        width: 145px;   
      }
  
    .navbar-toggler {
        margin-right: 15px;
    }
      .basket span{
        display: none;
      }
      #normalise, #norm-al{
          border: none;
          padding: 0;
          margin-right: 10px;
      }
      .footer img {
          padding: 0 10px 0 30px;
      }
      .footer a {
          font-size: var(--main_font);
          color: var(--gold_color);
          margin-top: 10px;
          font-size: 16px;
          font-weight: 400;
      }
}
#background_wrap {
    background-size: cover; /* Покриває всю площу */
    background-position: center;
    background-repeat: no-repeat;
    /*min-height: 100vh;*/
    background-color: #f2f2f2;
}
#footer_width {
    background-image: url(../img/second_bgr.png);
    /*background-size: contain;  Покриває всю площу */
    background-position: center;
    /*background-repeat: no-repeat;*/
}

  /*.six_block {
      background-image: url(../img/second_bgr.png);
      background-position-x: center;
  }*/
  .nav-item li {
    color: black;
  }
  .basket {
      border: 1px solid #111111;
  }
  .basket img {
      padding: 11px 10px 11px 31px;
  }
  .basket span {
      padding: 23px 32px 19px 0;
      font-family: var(--main_font);
      color: var(--gold_color);
      font-size: 18px;
      font-weight: 400;
      line-height: 6px; 
  }
  #navbarResponsive {
      background:#090908;
      text-align: right;
      z-index: 11;
  }
  .tabs {
    position: relative;
    margin: 13px auto;
    width: 465px;
   }
   .tab, .tab-title {
    display: inline-block; /* Выстраиваем по горизонтали */
   }
   .tab input[type="radio"] { display: none; }
   .tab-title {
    background: #ccc; /* Цвет фона */
    padding: 5px 10px; /* Поля вокруг текста */
    border: 1px solid #666; /* Параметры рамки */
    border-bottom: none; /* Снизу линию убираем */
   }
   /* .tab-content {
    border: 1px solid #666; 
    padding: 10px; 
    left: 0; 
    width: calc(100% - 40px); 
    
   } */
   .tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #fff; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
   }
   .tab {
      margin: 0 auto;
   }
   @media (max-width: 576px) {
       .tab-content {
           margin-left: 20px;
           border: none;
       }
   }
   .first_tab {
       font-family: var(--main_font);
       font-size: 24px;
       font-weight: 400;
       width: 152px;
       height: 57px;
       border: 1px solid #fbc620;
   }
   .second_tab {
        font-family: var(--main_font);
        font-size: 24px;
        font-weight: 400;
        width: 162px;
        height: 57px;
        border: 1px solid #3f8db9;
        
   }
   .third_tab {
    font-family: var(--main_font);
    font-size: 24px;
    font-weight: 400;
    width: 120px;
    height: 57px;
    border: 1px solid #696969;
   }
   @media (max-width: 576px) {
      .first_tab, .second_tab, .third_tab {
          font-size: 16px;
          width: 125px;
          height: 40px;
      }
}
.first_content {
    background-image: url(../img/modal_bgr.png);
    height: 282px;
    background-size: 232%;
    background-position-x: 10%;
    /* background-position-y: bottom; */
    margin-left: 0;
}
.first_block {
    margin: 8px;
    height: 100px;
    width: 280px;
}
#white_h2 {
    color: white;
    line-height: 0;
    font-weight: bold;
    font-size: 24px;
    padding-top: 30px;
}
#second_h2 {
    font-size: 30px;
    font-weight: 800;
}
@media (max-width: 576px) {
    .h2_like, .first_block p {
        font-size: 15px;
        font-family: var(--main_font);
        line-height: 1.1;
    }
}
@media (max-width: 576px) {
    .first_block img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
    }
}
@media (max-width: 576px) {
    .tabs {
        margin-left: 15px;
    }
}
#customize_button {
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    border-bottom: 6px solid white;
}
.div_optional_size {
    width: auto;
}
#customize_button::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 20px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(48deg);
    left: 28%;
    bottom: 5px;
}
.f_item {
    border: 1px solid #fbc620;
    font-size: var(--main_font);
}
.ff_item {
    color: var(--gold_color);

}
.s_item {
    border: 1px solid #3f8db9;
    font-size: var(--main_font);
}
.ss_item {
    color: #3f8db9;
}
.t_item {
    border: 1px solid #696969;
}
.tt_item {
    color: #696969;
}
.nav-item {
    margin: 12px;
}
.justify-content-center {
    padding-right: 15px;
}
.navbar-toggler {
    border-radius: 0;
}
.nav-item:nth-child(:last-child) {
    margin-right: none;
}
/*SECOND SECTION*/
.s_mobile {
    margin-top: 10px;
    background-image: url(../img/second_bgr.png);
    background-position-x: center;

}
@media (max-width: 576px) {
    .to_mobile p{
        font-size: 14px;
    }
    .to_mobile h2 {
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #111111;
       
    }
    .to_mobile img {
        height: 43px;
        margin-bottom: 20px;
    }
    .to_mobile {
        margin: 20px 35px;
        font-family: var(--main_font);
        font-weight: 400;
        color: white;
    }
    .to_mobile b {
        color: var(--gold_color);
    }
    #_button {
        color: var(--gold_color);
        border-bottom: 6px solid #fbc620;
        padding-right: 10px;
    }
    #_button::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 22px;
        border-top: 5px solid #fbc620;
        border-right: 5px solid #fbc620;
        transform: rotate(45deg);
        left: 46%;
        bottom: 37px
    }
    #customize_button::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 20px;
        border-top: 5px solid #ffffff;
        border-right: 5px solid #ffffff;
        transform: rotate(48deg);
        left: 52%;
        bottom: 15px;
    }
    .to_idea h2{
        font-size: 15px;
        font-family: var(--main_font);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #fbc620;
        padding-bottom: 10px;
    }
    .to_idea img {
        width: 35px;
    }
    .to_idea p {
        font-size: 16px;
        margin-left: 5px;
    }
    .to_idea h3 {
        margin-top: 25px;
        text-align: center;
        text-transform: uppercase;
    }
    .to_idea em {
        font-style: normal;
        font-family: var(--main_font);
    }
    .to_idea, .to_finaly {
        margin-left: 30px;
        margin-right: 30px;
    }
    .to_idea b, .to_finaly b {
        color: #fbc620;
    }
    .to_let p, .to_finaly p {
        font-size: 16px;
        margin-left: 5px;
    }
    .to_let em, .to_finaly em {
        font-style: normal;
        font-family: var(--main_font);
    }
    .to_let {
        margin: 0 30px;
    }
    .to_let img, .to_finaly img {
        width: 35px;
    }
    /*.third_block {
        background-color: #f2f2f2;
    }*/
    .to_let h2, .to_finaly h2 {
        font-size: 21px;
        font-family: var(--main_font);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #fbc620;
        padding-bottom: 15px;
        margin-top: 20px;
    }
    .to_let b, .to_finaly b {
        color: #fbc620;
    }
    .xcross {
        width: 10em;
        height: 10em;
        border: 2px solid #fbc620;
        border-radius: 50%;
        background: url(../img/xcross_1.png);
        background-size: 100%;
        position: relative;
        z-index: 2;
    }
    .main_xcross {
        width: 13em;
        height: 13em;
        border: 1px solid #fbc620;
        border-radius: 50%;
        line-height: 10em;
        text-align: center;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .cross_line {
        border-top: 1px solid #fbc620;
        transform: rotate(90deg);
        width: 271px;
        position: absolute;
        z-index: 1;
        top: 92px;
    }
    .cross_line_two {
        border-top: 1px solid #fbc620;
        width: 350px;
        position: absolute;
        z-index: 1;
        }
    .to_map h2 {
        font-size: 22px;
        height: 50px;
        background-color: #1e1e1e;
        border-bottom: 1px solid #636262;
        padding-top: 10px;
    }
    .to_map iframe {
        height: 200px;
        width: 345px;
    }
    .to_map img {
        max-width: 360px;
        margin-left: -2%;
    }
    .map_position {
        overflow: hidden;
        background-image: url(../img/map.png);
        height: 300px;
        background-size: 250%;
        background-position-x: center;
    }
    .footer p {
        text-align: center;
        color: #fff;
    }
    .footer {
        margin: 30px 40px;
    }
    .last_logo {
        width: 360px;
        margin: 0 0 20px 30px;
    }
    .xcross_block { 
        display: none;
    }
    .lvl_container {
        height: 60px;
        background-color: #000000;
        background-image: url(../img/header_bgr.png);
    }
    .next_lvl {
        /* background-color: #000000; */
        background-image: url(../img/modal_bgr.png);
    }
   
}
@media (max-width: 320px) {
    .footer a {
        font-size: 14px;
    }
    .last_logo {
        width: 300px;
    }
}
@media (max-width: 375px) {
    .nav-item {
        margin: 7px;
    }
    #customize_button::after {
        left: 49%;
        bottom: -2px;
    }
    .to_mobile img {
        height: 40px;
    }
    #_button::after {
        left: 61%;
    }
    .last_logo {
        margin: 0 0 20px 17px;
    }
}
.move_nav_bar {
    background-color: #000000;
}
.mobile_idea {
    margin-top: 20px;
}
.nav {
    background-color: #000000;
}
.first_block b {
    font-size: 13px;
    font-family: var(--main_font);
}
#secion_wrap {
    background-size: cover; /* Покриває всю площу */
    background-position: center;
    background-repeat: no-repeat;
    /*min-height: 100vh;*/
    background-color: #1e1e1e;
}
.five_block {
    background-color: #1e1e1e;
    
}
.to_map h2 {
    text-transform: uppercase;
    color: white;
    font-size: 42px;
    text-align: center;
    margin: 15px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
}

.active{
    color: inherit;
}
@media (min-width: 425px) {
    #customize_button::after {
        left: 52%;
        bottom: 15px;
    }
    .to_mobile img { 
        height: 45px;
    }
    #_button::after {
        left: 44%;
        bottom: 37px;
    }
}
.delete_padding {
    padding-right: 0;
}
@media (min-width: 768px) {
    .first_content {
        background-image: url(../img/modal_bgr.png);
        height: 450px;
        background-size: 232%;
        background-position-x: 30%;
        margin-left: 0;
    }
    #white_h2 {
        font-size: 36px;
        padding-top: 50px;
    }
    #second_h2 {
        font-size: 40px;
    }
    .first_block  {
       width: inherit;
    }
    .first_block b {
        font-size: 16px;
        margin-left: 10px;
    }
    .col-md-6 p {
        font-size: 20px;
    }
    #customize_button::after {
        left: 28.3%;
        bottom: 15.3px;
    }
    .navbar-brand img {
        width: 85%;
    }
    .basket {
        margin-left: -100px;
    }
    .basket span {
        padding: 23px 15px 19px 0;
    }
    .col-md-11 h2 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 15px;
        border-bottom: 1px solid gray;
        font-size: 46px;
    }
    .col-md-11 p {
        color: white;
    }
    .col-md-11 b {
        color: var(--gold_color);
    }
    .col-md-11 {
        margin: 0 auto;
    }
    .to_mobile img {
        height: 80px;
        padding-right: 40px;
        padding-bottom: 14px;
    }
    .col-md-11 a {
        margin-bottom: 30px;
    }
    .to_idea h2 {
        text-align: center;
        font-weight: 800;
        font-size: 36px;
        border-bottom: 1px solid var(--gold_color);
        padding-bottom: 15px;
    }
    .col-md-10 {
        margin: 0 auto;
    }
    .lvl_container {
        max-width: 768px;
        background-image: url(../img/second_bgr.png);
        background-position: bottom;
    }
    .move_nav_bar {
        min-width:768px;
        background-color: #000;
    }
    .nav-link {
        display: block;
        padding: 0.5rem 4rem;
    }
    .nav a {
        font-size: 22px;
    }
    .navbar-toggler {
        margin-right: 30px;
    }
    .s_mobile, .mobile_idea, .third_block, .four_block, .five_block, .six_block {
        min-width: 768px;
    }
    .to_idea h3 {
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
    }
    .to_idea b, .to_let b, .to_finaly b {
        color: var(--gold_color);
    }
    .to_let h2, .to_finaly h2 {
        text-align: center;
        margin: 15px 0;
        border-bottom: 1px solid var(--gold_color);
        padding-bottom: 20px;
    }
    .map_position {
        height: 360px;
        background-image: url(../img/map.png);
        background-size: cover;
        background-position-x: 30%;
        background-repeat: no-repeat;
    }
    /* .logo_footer {
        margin-top: 50px;
    } */
    .six_block {
        padding-top: 20px;
    }
    .footer {
        padding-left: 48px;
    }
    .logo_footer {
        padding-left: 60px;
    }
    .footer a {
        color: var(--gold_color);
    }
    .logo_footer a, .logo_footer b {
        color: var(--gold_color);
    }
    .logo_footer p, .footer p {
        color: #fff;
        padding-left: 50px;
    }
    .footer img, .logo_footer img {
        margin-right: 15px;
    }
    .to_mobile a {
        margin-top: 15px;
    }
    #_button {
        padding-right: 15px;
        border-bottom: 5px solid var(--gold_color);
        color: var(--gold_color);
    }
    #_button::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 20px;
        border-top: 5px solid var(--gold_color);
        border-right: 5px solid var(--gold_color);
        transform: rotate(48deg);
        left: 17.7%;
        bottom: 40px;
    }
}
.third_block {
    background-color: #f2f2f2;
}
@media (min-width: 1024px) {
    .lvl_container, .move_nav_bar {
        min-width: 1024px;
        width: 100%;
    }
    .move_nav_bar {
        padding-top: 150px;
    }
    #navbarResponsive {
        position: absolute;
        margin-top: 20%;
        left: -3%;
        
        width: 100%;
    }
    .lvl_container {
        background: none;
    }
    .ml-auto {
        margin: 0 auto;
    }
    .ml-auto a {
        padding: 20px 50px;
    }
}
